In [2]:
import pandas as pd

In [2]:
media_variables = pd.read_excel("../data/Dataset UK L'Oreal Paris Haircare - HEC Training.xlsx", sheet_name = "A&P Variables")
target_variables = pd.read_excel("../data/Dataset UK L'Oreal Paris Haircare - HEC Training.xlsx")
control_variables = pd.read_excel("../data/Dataset UK L'Oreal Paris Haircare - HEC Training.xlsx", sheet_name = "Commercial Variables")

In [5]:
pd.read_csv("../data/transformed/df_l4.csv").columns.tolist()

['Unnamed: 0',
 'Starting week',
 'Year',
 "UK L'Oreal Paris Haircare Offline Average Price (in pound)",
 "UK L'Oreal Paris Haircare Online Average Price (in pound)",
 "UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%)",
 "UK L'Oreal Paris Haircare Total Offline Sellout Value (in pound)",
 "UK L'Oreal Paris Haircare Total Offline Sellout Units",
 "UK L'Oreal Paris Haircare Total Online Sellout Value (in pound)",
 "UK L'Oreal Paris Haircare Total Online Sellout Units",
 'Starting week.1',
 'impressions_digital_tv',
 'impressions_online_multiformat_ads_transaction',
 'impressions_online_video_content_platforms',
 'impressions_paid_search_awarenessconsideration',
 'impressions_paid_search_transaction',
 'impressions_social_media_awarenessconsideration',
 'impressions_social_media_transaction',
 'spend_digital_tv',
 'spend_online_multiformat_ads_transaction',
 'spend_online_video_content_platforms',
 'spend_paid_search_awarenessconsideration',
 'spend_paid_search_transaction',
 'spend_social_media_awarenessconsideration',
 'spend_social_media_transaction',
 'Starting week.2',
 'engagement_influencer_management',
 'spend_influencer_management',
 'Starting week.3',
 'grp_traditional_tv',
 'spend_traditional_tv']

We need to build one big dataframe with the following columns :
- date
- target_variable (revenue or sold units)
- media_impressions and media_spend for each media
- control_variable

In [3]:
control_variables.head()

,Starting Week,Year,UK L'Oreal Paris Haircare Offline Average Price (in pound),UK L'Oreal Paris Haircare Online Average Price (in pound),UK L'Oreal Paris Haircare Total Weigheted Promotion Distribution (%)
0,2022-01-03,2022,2.323822,3.242071,0.37
1,2022-01-10,2022,2.328649,2.978819,0.42
2,2022-01-17,2022,2.378280,3.014039,0.43
3,2022-01-24,2022,2.396989,3.077403,0.86
4,2022-01-31,2022,2.394615,3.306272,0.78

In [4]:
target_variables.head()

,Starting Week,Year,UK L'Oreal Paris Haircare Total Offline Sellout Value (in pound),UK L'Oreal Paris Haircare Total Offline Sellout Units,UK L'Oreal Paris Haircare Total Online Sellout Value (in pound),UK L'Oreal Paris Haircare Total Online Sellout Units
0,2022-01-03,2022,1583364.9,681362.5,362750.18,111888.4
1,2022-01-10,2022,1753588.2,753049.7,385263.71,129334.4
2,2022-01-17,2022,1690696.8,710890.7,359523.06,119282.8
3,2022-01-24,2022,1748572.8,729487.2,357843.85,116281.1
4,2022-01-31,2022,1768055.9,738346.7,386416.94,116873.9

In [5]:
# Let's join those 2

controls_target_variables = control_variables.merge(target_variables, on=["Starting Week", "Year"], how="left", validate="one_to_one").sort_values("Starting Week", ascending = True)
controls_target_variables.rename(columns= {"Starting Week": "Starting week"}, inplace = True)

In [6]:
media_variables.head()

,growth_driver_l1,growth_driver_l2,growth_driver_l3,growth_driver_l4,growth_driver_l5,metric,Starting week,investment (in pound),execution
0,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-03,107.438017,537.216943
1,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-10,0.000000,0.000000
2,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-17,0.000000,0.000000
3,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-24,28484.999998,142432.121596
4,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-31,19172.915190,95869.369418

In [7]:
media_variables

,growth_driver_l1,growth_driver_l2,growth_driver_l3,growth_driver_l4,growth_driver_l5,metric,Starting week,investment (in pound),execution
0,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-03,107.438017,537.216943
1,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-10,0.000000,0.000000
2,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-17,0.000000,0.000000
3,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-24,28484.999998,142432.121596
4,ap_consumer_facing,consumer_engagement,advocacy_media,influencer_management,influencer_management,engagements,2022-01-31,19172.915190,95869.369418
...,...,...,...,...,...,...,...,...,...
2023,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-11-27,0.000000,0.000000
2024,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-04,0.000000,0.000000
2025,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-11,3381.443000,193.700000
2026,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-18,0.000000,0.000000
2027,ap_consumer_facing,shopper_experience,shopper_experience,testers_and_merchandising,testers_and_merchandising,units,2023-12-25,0.000000,0.000000

In [8]:
# Let's isolate tv, advocacy media and shopper_experience

media_tv = media_variables[media_variables["growth_driver_l4"]=="traditional_tv"]
media_engagements = media_variables[media_variables["metric"]=="engagements"]
media_shopper_experience = media_variables[media_variables["growth_driver_l4"]=="testers_and_merchandising"]

In [9]:
media_variables = media_variables[media_variables["metric"]=="impressions"]

In [10]:
media_impressions_l4 = media_variables.groupby(["Starting week", "growth_driver_l4"]).agg(
    spend = ("investment (in pound)", "sum"),
    impressions=("execution", "sum")
).reset_index()

In [11]:
media_impressions_l5 = media_variables.groupby(["Starting week", "growth_driver_l5"]).agg(
    spend = ("investment (in pound)", "sum"),
    impressions=("execution", "sum")
).reset_index()

In [12]:
media_impressions_l4.head()

  Starting week                    growth_driver_l4        spend  impressions
0    2022-01-03                          digital_tv     0.000000          0.0
1    2022-01-03  online_multiformat_ads_transaction   613.431000     193246.3
2    2022-01-03      online_video_content_platforms     0.000000          0.0
3    2022-01-03  paid_search_awarenessconsideration   374.884674       4067.7
4    2022-01-03             paid_search_transaction  7298.320638    1624989.6

In [13]:
media_impressions_l4['growth_driver_l4'] = media_impressions_l4['growth_driver_l4'].str.lower()

l4_df = (
    media_impressions_l4
    .pivot_table(
        index='Starting week',
        columns='growth_driver_l4',
        values=['spend', 'impressions'],
        aggfunc='sum',
        fill_value=0
    )
)
l4_df.columns = [
    f"{metric}_{media}"
    for metric, media in l4_df.columns
]

# optional: reset index
l4_df = l4_df.reset_index().sort_values("Starting week", ascending = True)

KeyError: 'Starting_week'

In [22]:
media_tv = media_tv.groupby(["Starting week", "growth_driver_l4"]).agg(
    spend=("investment (in pound)", "sum"),
    grp = ("execution", "mean")
)

In [24]:
l4_grp_df = (
    media_tv
    .pivot_table(
        index='Starting week',
        columns='growth_driver_l4',
        values=['spend', 'grp'],
        aggfunc='sum',
        fill_value=0
    )
)
l4_grp_df.columns = [
    f"{metric}_{media}"
    for metric, media in l4_grp_df.columns
]

l4_grp_df = l4_grp_df.reset_index().sort_values("Starting week", ascending = True)

In [25]:
media_engagements = media_engagements.groupby(["Starting week", "growth_driver_l4"]).agg(
    spend=("investment (in pound)", "sum"),
    engagement = ("execution", "sum")
)
l4_engagement_df = (
    media_engagements
    .pivot_table(
        index='Starting week',
        columns='growth_driver_l4',
        values=['spend', 'engagement'],
        aggfunc='sum',
        fill_value=0
    )
)
l4_engagement_df.columns = [
    f"{metric}_{media}"
    for metric, media in l4_engagement_df.columns
]

l4_engagement_df = l4_engagement_df.reset_index().sort_values("Starting week", ascending = True)

In [ ]:
# let's merge everything

final_df = pd.concat([controls_target_variables, l4_df, l4_grp_df, l4_engagement_df], axis = 1)